/******BODY*****/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

main {
	display: grid;
	grid-template-areas: 
	"sidebar top"
	"sidebar bottom";
	grid-template-columns: 20% 80%;
	grid-template-rows: 40% 60%;
}

/******NAV*****/

nav {
	background-color: #1F1F3D;
	color: #FFF;
	grid-area: sidebar;
	height: 100vh;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	margin: 10px 10px;
}

h2 {
	color: #BFBFDD;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 10px;
}

li {
	margin: 10px 10px;
}

.nav-border {
	border-bottom: 1px solid #A9AAD2;
}

.nav-btn {
	background-color: #5356A4;
	border: 1px solid #353567;
	color: #E9E9F3;
	font-size: 16px;
	font-weight: 500;
	margin: 20px 10px 20px 10px;
	padding: 5px;
	width: 90%;
}

.new-quality-label {
	font-size: 14px;
	display: grid;
	margin: 10px;
}

.new-quality-input {
	margin-top: 10px;
	padding: 10px;
}
/******TOP SECTION*****/

.top-section-labels {
	color: #1f1f3d;
	font-size: 12px;
	font-weight: 600;
	margin: 10px;
	width: 50%;
}

.title-input {
	margin-top: 5px;
	padding: 10px;
}


.title-input-label {
	display: flex;
    flex-direction: column;
}

.body-input-label {
    display: flex;
    flex-direction: column;
}

.body-input {
	margin-top: 5px;
	padding: 10px;
}

.search-input-label {
	display: flex;
	background-color: #1F1F3D;
}

.search-icon {
	background-color: #1F1F3D;
	color: #FFFFFF;
	font-size: 15px;
	margin: auto;
	padding: 5px;
}

.search-input {
	padding: 10px;
	width: 100%;
}

.top-section {
	align-items: center;
	background-color: #A9AAD2;
	display: flex;
	flex-direction: column;
	grid-area: top;
	justify-content: center;
}

.input-border {
	border: 1px solid #1F1F3D;
}

.save-btn-label {
	display: flex;
	flex-direction: column;
}

.save-btn {
	background-color: #1F1F3D;
	border: 1px solid #A9AAD2;
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	padding: 10px;
}

/*.search-btn {
	background-color: #1F1F3D;
	color: #FFF;
}*/

/******BOTTOM SECTION*****/

.bottom-section {
	background-color: #EAEAF4;
	display: flex;
	flex-wrap: wrap;
	grid-area: bottom;
}

article {
	border: 1px solid #6E646B;
	height: 240px;
	margin: 30px 30px;
	width: 24%;
}

.top-card {
	background-color: #1F1F3D;
	display: flex;
	height: 30px;
	justify-content: space-between;
}

.favorite {
	background-color: transparent;
	background-image: url(Images/star.svg);
	background-repeat: no-repeat;
	background-size: auto;
	width: 30px;
}

.orangeStar {
	background-image: url(Images/star-active.svg)
}

.star {
	justify-content: flex-start;
}

.delete {
	justify-content: flex-end;
}

.body-card {
	background-color: #FFF;
	color: #1F1F3D;
	font-size: 18px;
	height: 140px;
	padding: 20px;
}

h3 {
	font-weight: 700;
	margin: 5px 0 15px 0;
}

.quality-text {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	margin: auto;
}

.bottom-card {
	align-content: space-between;
	background-color: #5356A4;
	display: flex;
	height: 30px;
}

img {
	width: 30px;
}

/******IDEA CARDS*****/

/******MEDIA QUERIES*****/
